# Make aliases
# Apparently "mt" would conflict with a command for managing tape drives...
alias tt="make test |& less"

# Define an alias for changing the colorscheme of the linux TTY if found to be running in one.
if tty | grep tty>/dev/null 2>&1; then
	~/bin/linux-tty-color
	# Also alias reset to a variant that automatically reapplies the colorscheme if run,
	# otherwise reset would wipe it.
	alias reset="reset && ~/bin/linux-tty-color"
fi

# Tmux aliases
#start tmux
#if not inside a tmux session, and if no session is started, start a new session
alias st=runtmux

runtmux() {
	if which tmux >/dev/null 2>&1; then
		test -z "$TMUX" && (tmux attach || tmux new-session)
	fi
}

# Figure out which program listens on a port
whoseport() {
	lsof -i ":$1" | grep LISTEN
}

# fe [FUZZY PATTERN] - Open the selected file with the default editor
#   - Bypass fuzzy finder if there's only one match (--select-1)
#   - Exit if there's no match (--exit-0)
fe() {
  IFS=$'\n' files=($(fzf-tmux --query="$1" --multi --select-1 --exit-0))
  [[ -n "$files" ]] && ${EDITOR:-vim} "${files[@]}"
}

# Modified version where you can press
#   - CTRL-O to open with `open` command,
#   - CTRL-E or Enter key to open with the $EDITOR
fo() {
  IFS=$'\n' out=("$(fzf-tmux --query="$1" --exit-0 --expect=ctrl-o,ctrl-e)")
  key=$(head -1 <<< "$out")
  file=$(head -2 <<< "$out" | tail -1)
  if [ -n "$file" ]; then
    [ "$key" = ctrl-o ] && open "$file" || ${EDITOR:-vim} "$file"
  fi
}
