[user]
	email = davids.paskevics@gmail.com
	name = casept
	signingkey = 9C384ABC
[push]
	default = simple
[color]
	ui = auto
[branch]
	autosetuprebase = always
[commit]
	template = ~/.gitmessage
	gpgSign = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
