[user]
	email = davids.paskevics@gmail.com
	name = casept
	signingkey = 9C384ABC
[push]
	default = simple
[color]
	ui = auto
[branch]
	autosetuprebase = always
[commit]
	template = ~/.gitmessage
	gpgSign = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
