neovim/.config/nvim/.netrwhist
neovim/.config/coc/extensions/coc-go-data/
neovim/.config/coc/list-diagnostics-history.json
neovim/.config/coc/list-links-history.json
neovim/.config/coc/list-lists-history.json
neovim/.config/coc/lists
neovim/.config/coc/mru
neovim/.config/coc/memos.json
neovim/.config/coc/suggest.txt
neovim/.local/share/nvim/shada/main.shada
