[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/rust.vim"]
	path = vim/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/.vim/bundle/vim-alias"]
	path = vim/.vim/bundle/vim-alias
	url = https://github.com/Konfekt/vim-alias
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/.vim/bundle/vim-flake8"]
	path = vim/.vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/.vim/bundle/vim-toml"]
	path = vim/.vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "vim/.vim/bundle/vimux"]
	path = vim/.vim/bundle/vimux
	url = https://github.com/benmills/vimux
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "vim/.vim/bundle/YouCompleteMe"]
	path = vim/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "vim/.vim/bundle/zenburn"]
	path = vim/.vim/bundle/zenburn
	url = https://github.com/jnurmine/zenburn
[submodule "vim/.vim/bundle/neocomplete.vim"]
	path = vim/.vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/.vim/bundle/auto-pairs"]
	path = vim/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/.vim/bundle/traces.vim"]
	path = vim/.vim/bundle/traces.vim
	url = https://github.com/xtal8/traces.vim
[submodule "vim/.vim/pack/casept/start/neocomplete.vim"]
	path = vim/.vim/pack/casept/start/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "vim/.vim/pack/casept/start/vim-addon-nix"]
	path = vim/.vim/pack/casept/start/vim-addon-nix
	url = https://github.com/MarcWeber/vim-addon-nix
[submodule "neovim/.local/share/nvim/site/pack/casept/start/ale"]
	path = neovim/.local/share/nvim/site/pack/casept/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "neovim/.local/share/nvim/site/pack/casept/start/auto-pairs"]
	path = neovim/.local/share/nvim/site/pack/casept/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "neovim/.local/share/nvim/site/pack/casept/start/deoplete.nvim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "neovim/.local/share/nvim/site/pack/casept/start/direnv.vim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/direnv.vim
	url = https://github.com/direnv/direnv.vim
[submodule "neovim/.local/share/nvim/site/pack/casept/start/LanguageClient-neovim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "neovim/.local/share/nvim/site/pack/casept/start/nerdtree"]
	path = neovim/.local/share/nvim/site/pack/casept/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "neovim/.local/share/nvim/site/pack/casept/start/rust.vim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "neovim/.local/share/nvim/site/pack/casept/start/traces.vim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/traces.vim
	url = https://github.com/markonm/traces.vim
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-alias"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-alias
	url = https://github.com/konfekt/vim-alias
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-autopep8"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-fugitive"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-go"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-nix"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-nix
	url = https://github.com/LnL7/vim-nix
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-tmux-navigator"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-toml"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vimux"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vimux
	url = https://github.com/benmills/vimux
[submodule "neovim/.local/share/nvim/site/pack/casept/start/rainbow_parentheses.vim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule "kakoune/.config/kak/autoload/kakoune-rainbow"]
	path = kakoune/.config/kak/autoload/kakoune-rainbow
	url = https://github.com/JJK96/kakoune-rainbow
[submodule "neovim/.local/share/nvim/site/pack/casept/start/--branch"]
	path = neovim/.local/share/nvim/site/pack/casept/start/--branch
	url = https://github.com/neoclide/coc.nvim
[submodule "neovim/.local/share/nvim/site/pack/casept/start/coc.nvim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = release
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-jsonc"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-jsonc
	url = https://github.com/kevinoid/vim-jsonc
[submodule "neovim/.local/share/nvim/site/pack/casept/start/neoformat"]
	path = neovim/.local/share/nvim/site/pack/casept/start/neoformat
	url = https://github.com/sbdchd/neoformat
[submodule "neovim/.local/share/nvim/site/pack/casept/start/denite.nvim"]
	path = neovim/.local/share/nvim/site/pack/casept/start/denite.nvim
	url = https://github.com/Shougo/denite.nvim
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-lsp-cxx-highlight"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight
[submodule "neovim/.local/share/nvim/site/pack/casept/start/vim-cmake-syntax"]
	path = neovim/.local/share/nvim/site/pack/casept/start/vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax.git
[submodule "neovim/.local/share/nvim/site/pack/casept/start/rainbow"]
	path = neovim/.local/share/nvim/site/pack/casept/start/rainbow
	url = https://github.com/luochen1990/rainbow
