[Unit]
Description=KDE connect daemon
After=network-online.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/lib/kdeconnectd
Restart=always

[Install]
WantedBy=sway-session.target
