[Unit]
Description=Notification daemon
Documentation=man:mako(1)
PartOf=sway-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=mako --anchor bottom-right
Restart=always

[Install]
WantedBy=sway-session.target
