/* Adapted from https://bitbucket.org/movsx/dotfiles/src/master/waybar/style.css */

* {
	border: none;
    border-radius: 0;
  	font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size:     13px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
   	min-height: 0;
    color:      #d5c4a1;
}

window {
    font-weight:    bold;
    color:          #d5c4a1;
    background:     #504945;
}

#workspaces {
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
    margin: 0 2px;
}

#workspaces button {
    padding:    0 4px;
}

#workspaces button.visible {
}

#workspaces button.focused {
    background-color:       #458588;
}


#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#mode,
#idle_inhibitor,
#mpd {
    border-left: 0.5px solid #d5c4a1;
    margin:     5px 3px 5px 3px;
    min-width:  10px;
}

#tray {
    margin:     0px 3px 0px 3px;
    min-width:  10px;
}

#clock {
    margin:     0px 10px 0px 10px;
    min-width:  10px;
}

#battery {
    color:       #689d6a;
}

#battery.critical {
    color:          #fb4934;
}

#battery.good {
    color:          #689d6a;
}

#battery.charging {
    color:      #b8bb26;
}

#network.wifi {
    color:          #689d6a;
}

#network.disconnected {
    color:          #fe8019;
}

#waybar > box:nth-child(2) > box:nth-child(3) > * > label {
    padding: 0 3px;
}
